.form {
    max-width: 900px;
    padding-top: 30px;
}

.form-col {
    margin: 0 20px;
}

.swap-icon {
    margin-bottom: 24px;
}

.result-cell {
    width: 300px;
    height: 40px;
    font-size: 20px;
}